#about-us-insert-2020 .content.rtl {
  text-align: right;
}
#about-us-insert-2020 .content.rtl .content .main-content {
  flex-direction: row-reverse;
}
#about-us-insert-2020 .content.rtl .content .main-content .content-el {
  padding-right: 16px;
  padding-left: 0;
}
#about-us-insert-2020 .content.rtl .header {
  flex-direction: row-reverse;
}
#about-us-insert-2020 .header {
  height: 44px;
  text-align: center;
  display: flex;
}
#about-us-insert-2020 .header .title {
  font-size: 17px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.41px;
  color: #1a2f43;
}
#about-us-insert-2020 .content {
  height: 90%;
}
#about-us-insert-2020 .content-el {
  padding: 0 16px;
}
#about-us-insert-2020 .content,
#about-us-insert-2020 .header {
  margin: 0 auto;
}
#about-us-insert-2020 .main-content .subheader {
  font-size: 14px;
  font-weight: 300;
  color: #1a2f43;
}
#about-us-insert-2020 .menu {
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.05);
}
#about-us-insert-2020 .menu .elem-menu {
  width: 114px;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  padding: 14px 0;
  background-color: white;
  cursor: pointer;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  color: #6e767e;
}
#about-us-insert-2020 .menu .active {
  border-bottom: 2px solid #1a2f43;
  color: #1a2f43;
  transition: 0.5s;
}
#about-us-insert-2020 .main-content .text {
  width: 300px;
  font-family: Ubuntu;
  font-size: 18px;
  font-weight: 500;
  color: #1a2f43;
}
#about-us-insert-2020 .main-content .subheader {
  font-size: 14px;
  font-weight: 300;
  color: #1a2f43;
  margin-bottom: 24px;
}
#about-us-insert-2020 .content-el.active {
  display: block;
}
@media only screen and (max-width: 460px) {
  #about-us-insert-2020 .menu {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
  }
  #about-us-insert-2020 .menu .elem-menu {
    display: inline-block;
    width: 114px;
    margin: 0 auto;
  }
  #about-us-insert-2020 .content,
  #about-us-insert-2020 .header {
    width: 100%;
  }
  #about-us-insert-2020 .header .title {
    width: 100%;
    height: 22px;
  }
  #about-us-insert-2020 .main-content {
    width: 90%;
  }
  #about-us-insert-2020 .main-content img {
    width: 90%;
  }
  #about-us-insert-2020 .main-content .text {
    width: 100%;
  }
  #about-us-insert-2020 .main-content .subheader {
    width: 100%;
  }
}
@media only screen and (min-width: 461px) {
  #about-us-insert-2020 .main-content {
    width: 100%;
    padding: 0 17px;
    display: flex;
    max-width: 868px;
    margin: 0 auto;
  }
  #about-us-insert-2020 .content,
  #about-us-insert-2020 .header {
    width: 90%;
  }
  #about-us-insert-2020 .content-el {
    width: 100%;
  }
  #about-us-insert-2020 .header .title {
    width: 100%;
    height: 22px;
  }
  #about-us-insert-2020 .main-content img {
    width: 90%;
  }
  #about-us-insert-2020 .main-content .text {
    width: 100%;
    height: 21px;
  }
  #about-us-insert-2020 .main-content .subheader {
    width: 100%;
    display: flex;
    margin-bottom: 24px;
  }
}
