.bmby-gallery-wrapp {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  color: #C0C0C0;
  font-weight: 500;
  position: relative;
}
.img__tumbs {
  object-fit: cover;
  width: 100vw;
  height: 100vw;
  margin-bottom: 8px;
}
.menu__container {
  position: fixed;
  background: #fff;
  width: 100%;
}
.menu__items {
  list-style: none;
  display: flex;
  padding: 0;
  overflow-x: scroll;
  margin: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.menu__items::-webkit-scrollbar {
  display: none;
}
.images__container {
  overflow-x: hidden;
}
.menu__item {
  text-align: center;
  padding: 12px 0;
  margin: 0 12px;
}
.menu__plug {
  content: '';
  min-width: 1px;
  max-width: 1px;
}
.active {
  border-bottom: 2px solid #1a2f43;
  color: #1a2f43;
}
.hide-image-id {
  display: none;
}
.fancybox-container {
  font-family: 'Ubuntu', sans-serif;
}
.fancybox-bg {
  background: #fff !important;
  opacity: 1 !important;
}
.rtl {
  text-align: right;
  direction: rtl;
}
.menu__items__two-elements {
  text-align: center;
  flex-basis: 50%;
}
.menu__items__one-element {
  text-align: center;
  flex-basis: 50%;
}
.menu__items__three-elements {
  text-align: center;
  flex-basis: 33.333%;
}
.menu__items__four-or-more-elements {
  text-align: center;
}
@media (orientation: landscape) {
  .images__container {
    overflow-x: scroll;
    display: flex;
  }
  .img__tumbs {
    object-fit: cover;
    width: calc(100vh - 46px);
    height: calc(100vh - 46px);
    margin-right: 8px;
    margin-bottom: 0;
  }
}
