html {
  scroll-behavior: smooth;
}
.bmby-gallery-wrapp {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  color: #C0C0C0;
  font-weight: 500;
}
.img__tumbs {
  object-fit: cover;
  width: 375px;
  height: 375px;
}
.menu__container {
  position: fixed;
  background: #fff;
  width: 100%;
}
.menu__items {
  list-style: none;
  display: flex;
  padding: 0;
  overflow-x: scroll;
  margin: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.menu__items::-webkit-scrollbar {
  display: none;
}
.images__container {
  overflow-x: hidden;
}
.menu__item {
  margin-left: 24px;
  padding: 12px 0;
}
.menu__item:first-child {
  margin-left: 10px;
}
.active {
  border-bottom: 2px solid #1a2f43;
  color: #1a2f43;
}
.hide-image-id {
  display: none;
}
.fancybox-container {
  font-family: 'Ubuntu', sans-serif;
}
.fancybox-bg {
  background: #fff !important;
  opacity: 1 !important;
}
.rtl {
  text-align: right;
  direction: rtl;
}
@media (orientation: landscape) {
  .images__container {
    overflow-x: scroll;
    display: flex;
  }
}
