
@screen-sm: 576px;
@screen-md: 768px;
@screen-lg: 992px;
@screen-xl: 1200px;

@screen-xs-max: 575px;
@screen-sm-max: 767px;
@screen-md-max: 991px;
@screen-lg-max: 1199px;

.font-ubuntu {
  font-family: 'Ubuntu', sans-serif;
}

// === About Us page ===/
#page-insert-elem-27636 {
  @import "normalize";

  .font-ubuntu();

  .section-outer {
    padding-right: 16px;
    padding-left: 16px;
  }

  .menu {
    padding-left: 16px;
    padding-right: 16px;
  }

  .content.rtl {
    text-align: right;
    direction: rtl;

    .content {
      .main-content {
        flex-direction: row-reverse;

        .content-el {
          padding-right: 16px;
          padding-left: 0;
        }
      }
    }

    .header {
      flex-direction: row-reverse;
    }

  }

  .header {
    height: 44px;
    text-align: center;
    display: flex;

    .title {
      font-size: 17px;
      font-weight: 500;
      line-height: 1.29;
      letter-spacing: -0.41px;
      color: #1a2f43;
    }
  }

  .content {
    height: 100%;
  }

  .content-el {
    padding: 0 16px;
  }

  .content, .header {
    margin: 0 auto;
  }

  .main-content .subheader {
    font-size: 14px;
    font-weight: 300;
    color: #1a2f43;
  }

  .menu {
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.05);

    margin-bottom: 21px;

    .elem-menu {
      text-align: center;
      vertical-align: middle;
      justify-content: center;
      padding: 14px 0;
      background-color: white;
      cursor: pointer;
      height: 20px;
      margin-bottom: 16px;
      font-size: 16px;
      line-height: 18px;
      font-weight: 500;
      color: #6e767e;
    }

    .active {
      border-bottom: 2px solid #1a2f43;
      color: #1a2f43;
      transition: .5s;
    }

  }

  .main-content {
    .text {
      width: 300px;
      font-size: 18px;
      line-height: 21px;
      font-weight: 500;
      color: #1a2f43;
    }

    .subheader {
      font-size: 14px;
      font-weight: 300;
      color: #1a2f43;
      margin-bottom: 24px;
    }
  }

  .content-el.active {
    display: block;
  }

  @media only screen and (max-width: @screen-xs-max) {
    .menu {
      display: flex;
      align-items: center;
      margin-left: 38px;

      .elem-menu {
        display: inline-block;
        width: 114px;
        margin: 0 auto;
      }
    }

    .content, .header {
      width: 100%;
    }

    .header .title {
      width: 100%;
      height: 22px;
    }

    .main-content {
      img {
        width: 100%;
      }
    }

    .main-content

    .main-content .text {
      width: 100%;
    }

    .main-content .subheader {
      width: 100%;
    }
  }

  @media only screen and (min-width: @screen-sm) {

    .elem-menu {
      width: 114px;
    }

    .section-outer {
      padding-right: 30px ;
      padding-left: 38px;
    }

    .main-content {
      width: 100%;

      display: flex;
      max-width: 868px;
      margin: 0 auto;
    }

    .content-el {
      width: 100%;
    }


    .header .title {
      width: 100%;
      height: 22px;
    }

    .main-content img {
      width: 100%;
    }

    .main-content .text {
      width: 100%;
      height: 21px;
    }

    .main-content .subheader {
      width: 100%;
      display: flex;
      margin-bottom: 24px;
    }
  }
}

// === /About us page ===
