<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="gallery" stopProcessing="true">
                    <match url="^gallery.js" />
                    <action type="Rewrite" url="/js/gallery.php" />
                </rule>
                <rule name="about" stopProcessing="true">
                    <match url="^about.js" />
                    <action type="Rewrite" url="/js/about_us.php" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>