<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="gallery" stopProcessing="true">
                    <match url="^gallery.js" />
                    <action type="Rewrite" url="/js/gallery.php" />
                </rule>
                <rule name="about" stopProcessing="true">
                    <match url="^about.js" />
                    <action type="Rewrite" url="/js/about.php" />
                </rule>
                <rule name="poi" stopProcessing="true">
                    <match url="^poi.js" />
                    <action type="Rewrite" url="/js/poi.php" />
                </rule>
                 <rule name="galleryOdessa" stopProcessing="true">
                    <match url="^galleryOdessa.js" />
                    <action type="Rewrite" url="/js/galleryOdessa.php" />
                </rule>
                <rule name="aboutOdessa" stopProcessing="true">
                    <match url="^aboutOdessa.js" />
                    <action type="Rewrite" url="/js/aboutOdessa.php" />
                </rule>
                <rule name="galleryGindi" stopProcessing="true">
                    <match url="^galleryGindi.js" />
                    <action type="Rewrite" url="/js/galleryGindi.php" />
                </rule>
                <rule name="aboutGindi" stopProcessing="true">
                    <match url="^aboutGindi.js" />
                    <action type="Rewrite" url="/js/aboutGindi.php" />
                </rule>
                <rule name="aboutZahala" stopProcessing="true">
                    <match url="^aboutZahala.js" />
                    <action type="Rewrite" url="/js/aboutZahala.php" />
                </rule>
                <rule name="poiAcro" stopProcessing="true">
                    <match url="^poiAcro.js" />
                    <action type="Rewrite" url="/js/poiAcro.php" />
                </rule>
                <rule name="poiHap" stopProcessing="true">
                    <match url="^poiHap.js" />
                    <action type="Rewrite" url="/js/poiHap.php" />
                </rule>
                <rule name="poiMazlavi" stopProcessing="true">
                    <match url="^poiMazlavi.js" />
                    <action type="Rewrite" url="/js/poiMazlavi.php" />
                </rule>
          </rules>
        </rewrite>
    </system.webServer>
</configuration>