<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="gallery" stopProcessing="true">
                    <match url="^gallery.js" />
                    <action type="Rewrite" url="/js/gallery.php" />
                </rule>
                <rule name="about" stopProcessing="true">
                    <match url="^about.js" />
                    <action type="Rewrite" url="/js/about_us.php" />
                </rule>
                 <rule name="galleryOd" stopProcessing="true">
                    <match url="^galleryOd.js" />
                    <action type="Rewrite" url="/js/galleryOd.php" />
                </rule>
                <rule name="about_usOd" stopProcessing="true">
                    <match url="^about_usOd.js" />
                    <action type="Rewrite" url="/js/about_usOd.php" />
                </rule>
                <rule name="about_usOdDev" stopProcessing="true">
                    <match url="^about_usOdDev.js" />
                    <action type="Rewrite" url="/js/about_usOdDev.php" />
                </rule>
                <rule name="galleryGindi" stopProcessing="true">
                    <match url="^galleryGindi.js" />
                    <action type="Rewrite" url="/js/galleryGindi.php" />
                </rule>
          </rules>
        </rewrite>
    </system.webServer>
</configuration>